/** @format */
*, *::before, *::after {
  box-sizing: border-box; /* Ensures box-sizing is applied globally */
}

html, body {
  margin: 0;
  padding: 0;
  width: max-content;
  height: 100%;
}

#root, #__next {
  width:min-content;
  height: 100%;
}
